pipeline/dynamicPipeline.json
{
	"name": "dynamicPipeline",
	"properties": {
		"activities": [
			{
				"name": "lookupCDC",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_cdc",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "bronze",
							"p_folder": "cdc",
							"p_file": "cdc.json"
						}
					}
				}
			},
			{
				"name": "copyDataSqlToDL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookupCDC",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.p_schema}.@{pipeline().parameters.p_table} WHERE @{pipeline().parameters.p_cdc_col} > '@{activity('lookupCDC').output.firstRow[0].cdc}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_azuresql",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_parquet",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "bronze",
							"p_folder": "users",
							"p_file": {
								"value": "@concat(pipeline().parameters.p_table, '_', variables('cuurent'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "current",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"variableName": "cuurent",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_schema": {
				"type": "string"
			},
			"p_table": {
				"type": "string"
			},
			"p_cdc_col": {
				"type": "string"
			}
		},
		"variables": {
			"cuurent": {
				"type": "String"
			}
		},
		"annotations": []
	}
}